@model IEnumerable<IHM.Models.Wallet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDepositeAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastDepositeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDepositeAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDepositeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccount.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WalletID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WalletID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WalletID })
        </td>
    </tr>
}

</table>
