@model IEnumerable<IHM.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12">
    <div class="card">
        <div class="card-header">
            Posts
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Artist)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Verified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PostDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category.Name)
                    </th>
                    <th>
                        Position
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Verified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>

                            <a href="#" data-toggle="modal" data-target="#TypeModal_@item.PostID" >
                                @if(item.Type == "" || item.Type == null)
                                {
                                    <p>Change Position</p>
                                }
                              @Html.DisplayFor(modelItem => item.Type)
                            </a>
                            <!--Login Modal-->
                            <div class="modal fade modal-success" id="TypeModal_@item.PostID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">User Login</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="@Url.Action("Position", "Posts")" class="contact_form">
                                                <div class="from-group row">
                                                    <div class="col-md-6">
                                                        <h2>Change Post Position</h2>
                                                        <input type="hidden" name="PostID" value="@item.PostID" />
                                                        <label class="text-capitalize">Position</label>
                                                       <select class="form-control" name="Position" >
                                                           <option value="">None</option>
                                                           <option value="LATEST">LATEST</option>
                                                           <option value="POPULAR">POPULAR</option>
                                                           <option value="BUSINESS">BUSINESS</option>
                                                       </select>
                                                        <br />
                                                        <button class="btn btn-success">Change Position</button>
                                                    </div>
                                                    <div class="col-md-6">
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="modal-footer btn-success">
                                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                            @Html.ActionLink("View Post", "Post", new { id = item.PostID }) |
                            @Html.ActionLink("Media Post", "MediaPost", new { id = item.PostID }) @*|
                            @Html.ActionLink("Delete", "Delete", new { id = item.PostID })*@
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

