@model IHM.Models.Post

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    IHM.Models.IHMEntities db = new IHM.Models.IHMEntities();
}
<section id="contentSection">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="left_content">
                <div class="single_page">
                    <ol class="breadcrumb">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="#">Technology</a></li>
                        <li class="active">Mobile</li>
                    </ol>
                    <h1>@Model.Title</h1>
                    <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>@Model.Artist</a> <span><i class="fa fa-calendar"></i>@Model.PostDate</span> <a href="#"><i class="fa fa-tags"></i>@Model.Category.Name</a> </div>
                    <div class="single_page_content">
                        
                        <p>
                            <div class="col-md-4">
                                <img class="img-thumbnail img-responsive" src="@Model.Photo"  alt="">
                            </div>
                            @Model.Post1
                        </p>   
                       @if (Model.Url != null)
                       {
                        <div class="clearfix"></div>
                            <hr />
                            <center>
                                <a href="@Url.Content("~"+Model.Url)" class="btn btn-lg bg-success btn-block"><i class="icon-cloud-download"></i> Download File</a>
                            </center>
                       }
                        <div class="clearfix"></div>
                        <hr />
                        
                        @foreach(var item in db.Comments.Where(c=>c.PostID == Model.PostID))
                        {
                            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>@item.Name</a> <span><i class="fa fa-calendar"></i>@item.Date</span> <a href="#"><i class="fa fa-tags"></i>@item.Email</a> <i class="fa fa-tags"></i> @item.Phone</div>
                            <p>@item.Comment1</p>
                            <div class="clearfix"></div>
                            <hr />
                        }
                        <div class="row">
                            <form method="post" action="@Url.Action("Comment","Posts")">
                                <input type="hidden" value="@Model.PostID" name="PostID" />
                                <label>Name</label>
                                <input type="text" name="Name" class="form-control" />

                                <label>Email</label>
                                <input type="text" name="Email" class="form-control" />

                                <label>Phone</label>
                                <input type="text" name="Phone" class="form-control" />
                                <label>Comment</label>
                                <textarea rows="5" name="Comment" class="form-control"></textarea>
                                <button class="btn btn-success">Post</button>
                            </form>
                        </div>
                    </div>
                    <div class="social_link">
                        <ul class="sociallink_nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="related_post">
                        <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
                        <ul class="spost_nav wow fadeInDown animated">
                            <li>
                                <div class="media">
                                    <a class="media-left" href="single_page.html"> <img src="/Images/post_img1.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a class="media-left" href="single_page.html"> <img src="/Images/post_img2.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                                </div>
                            </li>
                            <li>
                                <div class="media">
                                    <a class="media-left" href="single_page.html"> <img src="/Images/post_img1.jpg" alt=""> </a>
                                    <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav-slit">
            <a class="prev" href="#">
                <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
                <div>
                    <h3>City Lights</h3>
                    <img src="/Images/post_img1.jpg" alt="" />
                </div>
            </a> <a class="next" href="#">
                <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
                <div>
                    <h3>Street Hills</h3>
                    <img src="/Images/post_img1.jpg" alt="" />
                </div>
            </a>
        </nav>
        <!--Popular post Section-->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <aside class="right_content">
                <div class="single_sidebar">
                    <h2><span>Popular Post</span></h2>
                    <ul class="spost_nav">
                        @foreach (var item in db.Posts.Where(p => p.Type == "POPULAR"))
                        {
                            <li>
                                <div class="media wow fadeInDown">
                                    <a href="@Url.Action("Post/"+ item.PostID,"Posts")" class="media-left"> <img alt="" src="@item.Photo"> </a>
                                    <div class="media-body"> <a href="@Url.Action("Post/"+ item.PostID,"Posts")" class="catg_title">@item.Title</a> </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="single_sidebar">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
                        <li role="presentation" class="active"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
                        <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="video">
                            <div class="vide_area">
                                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="single_sidebar wow fadeInDown">
                    <h2><span>Sponsor</span></h2>
                    <a class="sideAdd" href="#"><img src="~/Images/add_img.jpg" alt=""></a>
                </div>*@
            </aside>
        </div>
    </div>
</section>